.adding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #363940;
    border-radius: 5px;
    padding: 3rem;
    gap: 20px;
}

.adding-header {
    color: grey;
    font-size: calc(4px + 2vmin);
}

.adding-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.adding-input {
    padding: .75rem 1rem;
    flex-grow: 1;
    border: none;
    border-radius: 5px;
    background-color: #2A2B2F;
    color: grey;
    transition: transform 0.3s ease;
    font-size: calc(1px + 2vmin);
}

    .adding-input:focus {
        transform: scale(1.05);
        background-color: #242529;
        color: white;
    }

.multi {
    resize: none;
    overflow: auto;
}

.adding-select {
    padding: .75rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #2A2B2F;
    color: grey;
    font-size: calc(1px + 2vmin);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

    .adding-select:focus {
        transform: scale(1.05);
        background-color: #242529;
        color: white;
    }

    .adding-select option {
        background-color: #2A2B2F;
        color: grey;
    }

        .adding-select option:checked {
            background-color: #242529;
            color: white;
        }

.submit-button {
    padding: 1vmin 2vmin;
    color: #f89406;
    background: none;
    border: 1px solid;
    border-color: #f89406;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

    .submit-button:hover {
        color: white;
        background-color: #f89406;
    }

    .submit-button:focus {
        color: white;
        background-color: #f89406;
    }
