.details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;
    text-align: left;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.image-container {
    display: flex;
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
    background-color: #3F3F3F;
}

.main-image {
    width: 100%;
    object-fit: cover;
}

.post-base-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    border-radius: 5px;
    padding: 1rem;
    background-color: #3F3F3F;
}

.post-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #3F3F3F;
    padding: 1rem;
    border-radius: 5px;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #3F3F3F;
    padding: 1rem;
    border-radius: 5px;
}

.user-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #3F3F3F;
    padding: 1rem;
    border-radius: 5px;
}

.comments-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #3F3F3F;
    padding: 1rem;
    border-radius: 5px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-textarea {
    padding: .75rem 1rem;
    flex-grow: 1;
    border: none;
    border-radius: 5px;
    background-color: #2A2B2F;
    color: grey;
    transition: transform 0.3s ease;
    font-size: calc(1px + 2vmin);
    resize: none;
    overflow: auto;
}

.comment-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.comment {
    border-radius: 5px;
    padding: 1rem;
    background-color: #2A2B2F;
}