.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #3F3F3F;
    border-radius: 8px;
    width: 20%;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 3px 12px 5px rgba(0, 0, 0, 0.3);
    }

.img-fluid {
    width: 100%;
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    text-align: left;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.title {
    font-weight: 400;
    font-size: calc(6px + 2vmin);
    color: white;
}

.price {
    color: black;
    font-weight: 600;
    font-size: calc(4px + 2vmin);
}

.date {
    color: grey;
    font-size: calc(5px + 1vmin);
}

.pagination-controls {
    padding: 0 0 1rem 0;
}