:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    outline: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #444;
}

.logo-image {
    width: 40px;
    display: inline-block;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: calc(4px + 2vmin);
}

.footer {
    background-color: #111;
    font-size: calc(1px + 2vmin);
}
